@font-face {
    font-family: 'Neue Plak Light';
    src: url('../assets/font/Neue\ Plak\ Light.ttf');
}
body {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    /* font-family: 'Neue Plak Light'; */
    font-family: sans-serif;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}
button:focus-visible, li:focus-visible {outline: none !important;}

.container-element {
    position: relative;
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    /* height: 100px; */
    padding: 20px 50px;
    padding-bottom: 175px;
    border: 4px solid #fff;
    border-radius: 20px;
    box-shadow: 12px 12px 25px rgb(228, 228, 228);
    overflow: hidden;
}
.circle-large {
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #f9f9f9;
    width: 200px;
    height: 200px;
}
.circle-top-right {top: -100px; right: -100px;}
.circle-bottom-left {bottom: -100px; left: -100px;}
.more-line.ml3 {
    width: 65px;
    height: 65px;
    bottom: -21px;
    left: 65px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 5;
}
.logo {display: flex; align-items: center;}
.circle-extra-small {
    display: block;
    border-radius: 50%;
}
.circle-extra-small.c1 {
    width: 5px;
    height: 5px;
    background-color: #fca53c;
    margin-right: 1px;
}
.circle-extra-small.c2 {
    width: 7px;
    height: 7px;
    background-color: #ac3971;
    margin-right: 5px;
}
.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 14px;
    color: #7b7b7b;
}
.nav-list > li {
    padding: 10px 10px;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
.nav-list > li:hover {
    border: 2px solid #e0a6ba;
    padding: 10px 20px;
}
#toggle-icon, #close, .line-text {display: none;}

.left {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    z-index: 1;
}
.left > * {width: 100%;}
.img-section-left {
    position: relative;
    display: flex;
    margin-top: 53px;
    padding-left: 40px;
}
.img-section-left > .img-container, .img-left-principal {
    background-size: cover;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 12px 12px 29px rgb(200, 200, 200);
}
.img-section-left > .img-container {background-image: url('../assets/img/person1.jpg');}
.circle-extra-small.c5 {
    width: 5px;
    height: 5px;
    background-color: #e81a74;
    position: absolute;
    top: 44px;
    left: 28px;
}

.more-line {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(45deg);
}
.more-line > span {
    display: inline-block;
    width: 3px;
    height: 100%;
    margin: 2px;
    background-color: #f4f6f5;
}
.more-line.ml1 {
    top: -29px;
    left: -29px;
    width: 100px;
    height: 100px;
}

.text-large {
    margin-top: 21px;
    font-size: 40px;
    font-weight: bold;
    color: #981750;
}
.text-small {
    font-size: 11px;
    color: #7b7b7b;
}
.btn-container {
    display: flex;
    margin-top: 26px;
}
.btn-container > button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
    height: 41px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; 
    transition: all .3s ease;
    border-radius: 8px;
}
.start_trial {
    width: 110px;
    color: #fff;
    background: linear-gradient(to right, #f11674, #ec1874, #e81a74, #f6625f, #f47254);
    border: 1px solid transparent;
}
.start_trial:hover {background: linear-gradient(to right, #f47254, #f6625f, #e81a74, #ec1874, #f11674)}
.watch_demo {
    width: 120px;
    color: #981750;
    border: 1px solid #e4dde0;
    background-color: #fff;
}
#icon-play {
    color: #e71c71;
    font-size: 10px;
    margin-right: 10px;
    transition: all .3s ease;
}
.watch_demo:hover #icon-play {transform: translateX(3px);}

.right {
    position: relative;
    display: flex;
    justify-content: center;
    width: 55%;
    padding-top: 60px;
    z-index: 1;
}

.img-principal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 295px;
    background-color: #f4f6f5;
    /* background : url('../assets/img/1664025754184.png'), #f4f6f5; */
    border-radius: 16px;
}
.img-principal > img {
    width: 100%;
    height: 100%;
}
.caption {
    position: absolute;
    bottom: -20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.caption > span {
    width: 100%;
    text-align: center;
    color: #fff;
}
.name {font-weight: bold;}
.job {font-size: 10px; margin-bottom: 7px;}
.call {
    width: 100%;
    display: flex;
    justify-content: center;
}
.call > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: linear-gradient(to right, #f11674, #ec1874, #e81a74, #f6625f, #f47254);
    color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    transform: rotate(90deg);
    transition: all 0.3s ease;
    cursor: pointer;
}
.call:hover > span {transform: scale(1.02) rotate(90deg);}

.img-left-principal {
    position: absolute;
    left: 8%;
    top: 107px;
    display: block;
    background-image: url('../assets/img/person4.jpeg');
}
.circle-extra-small.c3 {
    position: absolute;
    left: 8%;
    top: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7px;
    height: 7px;
    background-color: #d1b46e;
}
.cirle-in {
    display: block;
    background-color: #fff;
    border-radius: 50%;
}
.cirle-in.c3 {
    width: 1px;
    height: 1px;
}

.img-floating {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 130px;
    height: 140px;
    padding-top: 10px;
    box-shadow: 12px 12px 39px rgb(216, 216, 216);
    border-radius: 8px;
    background-color: #fff;
}
.bottom-left {
    bottom: -25px;
    left: -110px;
}
.top-right {
    top: 25px;
    right: -110px;
}
.more-line.ml2 {
    left: -31px;
    top: -5px;
    width: 50px;
    height: 50px;
    z-index: -1;
}
.profil {
    position: relative;
    display: flex;
    justify-content: center;
    width: 42px;
    height: 42px;
}
.profil > img {border-radius: 50%;}
.line-profil {
    position: absolute;
    top: -4px;
    display: block;
    width: 114%;
    height: 113%;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 50%;
}
.circle-extra-small.c4 {
    position: absolute;
    left: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    background-color: #d1b46e;
}
.cirle-in.c4 {
    width: 2px;
    height: 2px;
}
.img-floating > .name {
    width: 100%;
    text-align: center;
    color: #981750;
}
.img-floating > .job {color: #9b9a9a;}
footer {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.bottom-left > footer {justify-content: space-around;}
#phone {
    color: #d3b17f;
    transform: rotate(90deg);
}
#comment {color: #e73182;}
.top-right > footer {justify-content: center; flex-wrap: wrap;}
.progressing {
    display: flex;
    width: 80%;
    background-color: #efefef;
    border-radius: 5px;
}
.line-progress {
    display: block;
    width: 60%;
    height: 6px;
    background-color: #e25690;
    border-radius: 5px;
}
.footer-caption {
    font-size: 10px;
    color: #9b9a9a;
}

.circle-extra-small.c6, .circle-extra-small.c7 {
    width: 5px;
    height: 5px;
    position: absolute;
}
.circle-extra-small.c6 {
    bottom: -32px;
    right: 89px;
    background-color: #e81a74;
}
.circle-extra-small.c7 {
    background-color: #d1b46e;
    bottom: -14px;
    left: 86px;
}

.chat-container {
    position: absolute;
    font-size: 11px;
    right: -89px;
    top: 200px;
}
.chat {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 1px 5px rgb(208, 208, 208);
    padding: 12px;
}
.your {
    background-color: #fff;
    color: #9b9a9a;
    border-bottom-left-radius: 0;
}
.mine {
    left: 57px;
    top: 22px;
    background-color: #e81974;
    color: #fff7f7;
    width: 98px;
    border-bottom-right-radius: 0;
}
.mine-img {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 12px 12px 29px rgb(200, 200, 200);
}

.statistics {
    position: relative;
    left: 57px;
    top: 37px;
    background-color: #e81974;
    display: flex;
    padding: 10px;
    width: 98px;
    height: 82px;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    font-size: 9px;
}
text {fill: rgb(213, 213, 213);}

.curve {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.curve >svg {width: 50%; height: 100%;}

body > .circle-medium {
    position: absolute;
    display: block;
    background-color: #fca53c;
    border-radius: 50%;
    z-index: 5;
}
.circle-left {
    width: 46px;
    height: 46px;
    left: -23px;
    top: 36px;
}
.circle-right-bottom {
    width: 100px;
    height: 100px;
    bottom: -50px;
    right: -50px;
}


@media screen and (max-width : 992px) {
    body {
        position: static;
        align-items: initial;
        background-color: #fff;
    }
    .circle-right-bottom {display: none !important;}
    .container-element {
        width: 100%;
        box-shadow: none;
    }
    nav {
        position: fixed;
        padding: 0 50px;
        left: 0;
    }
    .nav-list {
        position: relative;
        right: 64px;
    }
    .left {
        justify-content: center;
        width: 100%;
    }
    .right {width: 100%;}
    .left > * {width: 73%;}
    .img-section-left {margin-top: 65px;}
    .curve {display: none;}
}

@media screen and (max-width : 768px) {
    .nav-list {display: none;}
    .nav-list-resp {
        position: fixed;
        top: 0;
        left: 100%;
        display: block !important;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        z-index: 10;
        backdrop-filter: blur(10px);
        color: #981750;
        padding-top: 70px;
        font-weight: bold;
        transition: all 0.5s ease;
    }
    .nav-list-resp > li {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    .nav-list-resp > li:hover {
        border: 2px solid transparent !important;
        padding: 10px !important;
    }
    .nav-list-resp > li > span {position: relative;}
    .line-text {
        display: block;
        width: 0;
        height: 2px;
        background-color: #fca53c;
        transition: all 0.5s ease;
    }
    .nav-list-resp > li > span:hover > .line-text {width: 100%;}
    #toggle-icon {
        position: relative;
        right: 74px;
        display: block;
        cursor: pointer;
    }
    .line {
        position: relative;
        left: 0;
        display: block;
        width: 19px;
        height: 3px;
        background-color: #656565;
        margin-bottom: 3px;
        transition: all 0.19s ease;
    }
    .l2 {left: 3px;}
    #toggle-icon:hover > .l1, #toggle-icon:hover > .l3 {left: 3px;}
    #toggle-icon:hover > .l2 {left: 0;}
    #close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        font-size: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    #close:hover {transform: translateX(2px); color: #fca53c;}
}

@media screen and (max-width : 576px) {
    .container-element {padding: 20px; padding-bottom: 500px;}
    .left > * {width: 100%;}
    nav {padding: 0 27px;}
    #toggle-icon {right: 58px;}
    .text-large {font-size: 30px; }

    .bottom-left {    
        top: 351px;
        left: -16px;
    }
    .top-right {
        top: 351px;
        right: -23px;
    }
    .chat-container {
        position: absolute;
        font-size: 11px;
        right: 99px;
        top: 526px;
    }
    .your {width: 120px;}
    .statistics {left: 0;}
}